body {
    background-color: #5A67D8;
    margin: 10;
    font-size: 16px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif;
}
header {
    font-size: 18px;
    text-align: center;

}
h1 {
    border: 2px;
    padding: 3px;
    font-size: 50px;
}
main{
    margin: 20px;
}

img{
    border-radius: 100px;
    position: fixed; bottom: 50px; right: 40px;
    border: 30px; 
    padding:10px;
    float: right;
    margin: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
#Applications{
    text-align: left;

}
.buttons{
    display: flex;
    flex-direction: column;
}

a{
    font-size: 30px;
    background-color: white;
    color:#5A67D8;
    margin: 10px;
    text-decoration: none;
}

footer{
    background-color: #4A5568;
    color: white;
    height: 50px;
    margin:-17px;
}