* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;

    background-image: url(../images/hall1.jpg);
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
section{
    background: linear-gradient(90deg, rgba(7,12,41,0.97) 0%, rgba(58,125,132,0.90) 50%, rgba(37,103,151,0.97) 100%);
    
    height: 100%;
}

main{
    background: #ffffff;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 450px;
    padding: 40px 40px;
    text-align: center;

    box-shadow: 0 5px 15px rgba(211, 211, 211, 0.6);
    border-radius: 10px;
}
img{
    width: 150px;
}
.data-input{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
input{
    padding: 15px;
    border: 1px solid rgba(139, 139, 139, 0.9);
    border-radius: 5px;
    background-color: transparent;
}
input:focus{
    outline-width: 0;
    border: 1px solid rgba(49,64,147,1);
    box-shadow: 1px 1px 2px rgba(49,64,147,1);
}
button{
    padding: 0px;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    border: 0.2px solid rgb(206, 206, 206);
    background-color: white;

    transition: 0.2s;
}
button:hover{
    background: rgba(49,64,147,1);
    color: white;
    border: 0.2px solid rgb(140, 123, 216);
    width: 95px;
}
button:active{
    background-color: rgb(46, 46, 46);
}

input, label, div{
    margin-bottom: 10px;
}

h1{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

h2{
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
}

.material-icons{
    margin-right: 5px;
    font-size: 15px;
}

.data-input div{
    color: rgb(175, 0, 0);
    display: flex;
    align-items: center;
    font-size: 13px;
}

.error{
    border: 2px solid rgb(204, 0, 0);
}


.loader {
    border: 4px solid #d1d1d1; /* Light grey */
    border-top: 4px solid rgba(49,64,147,1); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
@media screen and (max-width: 600px){
    main{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
    }

    form{
        width: 100%;
    }
}