body{
    background-color: #fffbfb;

    color: rgb(2, 2, 2);
    font-family: 'Montserrat', sans-serif;
}
.sec{
    padding: 10% 10% 10%;
    font-family: 'Montserrat', sans-serif;
}

.sec2{
    padding: 5% 10% 10%;
    font-family: 'Montserrat', sans-serif;
}

